.flag__border{
    width: 410px;
    height: 300px;
    border: gray;
    border-style: solid;
    border-radius: 2px;


}
.flag__dot{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border:rgb(172, 38, 38);
    background-color: rgb(173, 45, 45);
    position: absolute;
    top: 80px;
    left: 135px;
}
.border_1{
    z-index: 1;
    width: 410px;
    height: 410px;
    border-radius: 13%;
    background: rgb(134,0,255);
    background: linear-gradient(221deg, rgba(134,0,255,1) 0%, rgba(255,0,0,1) 64%, rgba(255,254,0,1) 79%);
}
.border_2{
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    border:18px solid  white;
    position: relative;
    top: -372px;
    left: 37px;
}   
.dot{
    z-index: 3;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    border: 0px solid white;
    position: relative;
    top:-672px;
    left: 295px;
}
.border_3{
    z-index: 4;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    position: relative;
    top: -687px;
    left: 87px;
}
.container1, .container2, .container3, .container4{ 
    background: gray;
    border:2px solid black;
    width: 100px;
    text-align: center;

}
.container1{
    position: relative;
    top:-300px; left:450px;
}
.container2{
    position: absolute;
    top:30px; left:1450px;
}
.container3{
    position: sticky;
    top:-1100px; left:390px;
}
.container4{
    position: fixed;
    top:80px; left:490px;
}
.p1{
    width: 200px;
    height: 50px;
    background-color: green;
    position: relative;
    top:-800px; left: 900px;
    animation:box 2s infinite;
}
.p2{
    height: 25px;
    width: 50px;
    position: relative;
    top:-850px; left: 801px;
    border-right :  48px  solid  #237449;
    border-bottom :  13px  solid  transparent; 
    border-top :  13px  solid  transparent;

}
@keyframes box {
    0%{
        background-color:#f08ab6;
    }   
    33.33%{
        background-color:rgb(255, 0, 0);
    }  
    66.66%{
        background-color:rgb(0, 60, 255);
    }  
    100%{
        background-color:#f08ab6;;
    }     
}
